[submodule "depth2scan"]
	path = depth2scan
	url = git@github.com:ferasboulala/depth2scan.git
[submodule "kobuki"]
	path = kobuki
	url = git@github.com:ferasboulala/kobuki.git
[submodule "slam"]
	path = slam
	url = git@github.com:ferasboulala/slam.git
